// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: darkgray;
}

.box {
    width: 1000px;
    margin: 50px auto;
    font-size: 40px;
}